



<div class="card-header card-primary card-inverse bg-info">
    <i class="fa fa-fw fa-font fa-2x float-right"></i>iTranslate&nbsp;&nbsp;
</div>
<div class="form-group">
  <div class="col-md-12">
    <textarea class="form-control" name="textArea" id="exampleTextarea" rows="1" maxlength="30000" [(ngModel)]="textArea" 
     placeholder="Enter your text to translate here" required></textarea>
  </div>
</div>

<br>

<div>
  <div class="dropdown float-left">
    <button type="button" class="btn btn-primary" >Target Language: {{targetDisplay}}</button>
    <div class="dropdown-content scrollable-menu">
      <button type="button" class="btn float-left" (click)="changeLang('af', 'Afrikaans')">Afrikaans</button>
      <button type="button" class="btn float-left" (click)="changeLang('sq', 'Albanian')">Albanian</button>
      <button type="button" class="btn float-left" (click)="changeLang('am', 'Amharic')">Amharic</button>
      <button type="button" class="btn float-left" (click)="changeLang('ar', 'Arabic')">Arabic</button>
      <button type="button" class="btn float-left" (click)="changeLang('hy', 'Armenian')">Armenian</button>
      <button type="button" class="btn float-left" (click)="changeLang('az','Azeerbaijani')">Azeerbaijani</button>
      <button type="button" class="btn float-left" (click)="changeLang('eu', 'Basque')">Basque</button>
      <button type="button" class="btn float-left" (click)="changeLang('bs','Bosnian')">Bosnian</button>
      <button type="button" class="btn float-left" (click)="changeLang('bg','Bulgarian')">Bulgarian</button>
      <button type="button" class="btn float-left" (click)="changeLang('ca','Catalan')">Catalan</button>
      <button type="button" class="btn float-left" (click)="changeLang('zh-CN', 'Chinese')">Chinese</button>
      <button type="button" class="btn float-left" (click)="changeLang('hr', 'Croatian')">Croatian</button>
      <button type="button" class="btn float-left" (click)="changeLang('cs', 'Czech')">Czech</button>
      <button type="button" class="btn float-left" (click)="changeLang('da', 'Danish')">Danish</button>
      <button type="button" class="btn float-left" (click)="changeLang('nl','Dutch')">Dutch</button>
      <button type="button" class="btn float-left" (click)="changeLang('en', 'English')">English</button>
      <button type="button" class="btn float-left" (click)="changeLang('et', 'Estonian')">Estonian</button>
      <button type="button" class="btn float-left" (click)="changeLang('fi', 'Finnish')">Finnish</button>
      <button type="button" class="btn float-left" (click)="changeLang('fr','French')">French</button>
      <button type="button" class="btn float-left" (click)="changeLang('gl', 'Galician')">Galician</button>
      <button type="button" class="btn float-left" (click)="changeLang('ka','Georgian')">Georgian</button>
      <button type="button" class="btn float-left" (click)="changeLang('de','German')">German</button>
      <button type="button" class="btn float-left" (click)="changeLang('el','Greek')">Greek</button>
      <button type="button" class="btn float-left" (click)="changeLang('ht','Haitian Creole')">Haitian Creole</button>
      <button type="button" class="btn float-left" (click)="changeLang('haw','Hawaiian')">Hawaiian</button>
      <button type="button" class="btn float-left" (click)="changeLang('iw','Hebrew')">Hebrew</button>
      <button type="button" class="btn float-left" (click)="changeLang('hi','Hindi')">Hindi</button>
      <button type="button" class="btn float-left" (click)="changeLang('hmn','Hmong')">Hmong</button>
      <button type="button" class="btn float-left" (click)="changeLang('hu','Hungarian')">Hungarian</button>
      <button type="button" class="btn float-left" (click)="changeLang('is','Icelandic')">Icelandic</button>
      <button type="button" class="btn float-left" (click)="changeLang('id','Indonesian')">Indonesian</button>
      <button type="button" class="btn float-left" (click)="changeLang('ga','Irish')">Irish</button>
      <button type="button" class="btn float-left" (click)="changeLang('it','Italian')">Italian</button>
      <button type="button" class="btn float-left" (click)="changeLang('ja','Japanese')">Japanese</button>
      <button type="button" class="btn float-left" (click)="changeLang('kk','Kazakh')">Kazakh</button>
      <button type="button" class="btn float-left" (click)="changeLang('ko','Korean')">Korean</button>
      <button type="button" class="btn float-left" (click)="changeLang('ku','Kurdish')">Kurdish</button>
      <button type="button" class="btn float-left" (click)="changeLang('ky','Kyrgyz')">Kyrgyz</button>
      <button type="button" class="btn float-left" (click)="changeLang('lo','Lao')">Lao</button>
      <button type="button" class="btn float-left" (click)="changeLang('la','Latin')">Latin</button>
      <button type="button" class="btn float-left" (click)="changeLang('lv','Latvian')">Latvian</button>
      <button type="button" class="btn float-left" (click)="changeLang('lt','Lithuanian')">Lithuanian</button>
      <button type="button" class="btn float-left" (click)="changeLang('lb','Luxembourgish')">Luxembourgish</button>
      <button type="button" class="btn float-left" (click)="changeLang('mk','Macedonian')">Macedonian</button>
      <button type="button" class="btn float-left" (click)="changeLang('ms','Malay')">Malay</button>
      <button type="button" class="btn float-left" (click)="changeLang('mn','Mongolian')">Mongolian</button>
      <button type="button" class="btn float-left" (click)="changeLang('my','Myanmar')">Myanmar</button>
      <button type="button" class="btn float-left" (click)="changeLang('ne','Nepali')">Nepali</button>
      <button type="button" class="btn float-left" (click)="changeLang('no','Norwegian')">Norwegian</button>
      <button type="button" class="btn float-left" (click)="changeLang('ps','Pashto')">Pashto</button>
      <button type="button" class="btn float-left" (click)="changeLang('fa','Persian')">Persian</button>
      <button type="button" class="btn float-left" (click)="changeLang('po','Polish')">Polish</button>
      <button type="button" class="btn float-left" (click)="changeLang('pt','Portuguese')">Portuguese</button>
      <button type="button" class="btn float-left" (click)="changeLang('pa','Punjabi')">Punjabi</button>
      <button type="button" class="btn float-left" (click)="changeLang('ro','Romanian')">Romanian</button>
      <button type="button" class="btn float-left" (click)="changeLang('ru','Russian')">Russian</button>
      <button type="button" class="btn float-left" (click)="changeLang('sm','Samoan')">Samoan</button>
      <button type="button" class="btn float-left" (click)="changeLang('gd','Scots Gaelic')">Scots Gaelic</button>
      <button type="button" class="btn float-left" (click)="changeLang('sr','Serbian')">Serbian</button>
      <button type="button" class="btn float-left" (click)="changeLang('si','Sinhala')">Sinhala</button>
      <button type="button" class="btn float-left" (click)="changeLang('sk','Slovak')">Slovak</button>
      <button type="button" class="btn float-left" (click)="changeLang('sl','Slovenian')">Slovenian</button>
      <button type="button" class="btn float-left" (click)="changeLang('so','Somali')">Somali</button>
      <button type="button" class="btn float-left" (click)="changeLang('es','Spanish')">Spanish</button>
      <button type="button" class="btn float-left" (click)="changeLang('se','Sundanese')">Sundanese</button>
      <button type="button" class="btn float-left" (click)="changeLang('sw','Swahili')">Swahili</button>
      <button type="button" class="btn float-left" (click)="changeLang('sv','Swedish')">Swedish</button>
      <button type="button" class="btn float-left" (click)="changeLang('tl','Tagalog')">Tagalog</button>
      <button type="button" class="btn float-left" (click)="changeLang('tg','Tajik')">Tajik</button>
      <button type="button" class="btn float-left" (click)="changeLang('ta','Tamil')">Tamil</button>
      <button type="button" class="btn float-left" (click)="changeLang('te','Telugu')">Telugu</button>
      <button type="button" class="btn float-left" (click)="changeLang('th','Thai')">Thai</button>
      <button type="button" class="btn float-left" (click)="changeLang('tr','Turkish')">Turkish</button>
      <button type="button" class="btn float-left" (click)="changeLang('uk','Ukrainian')">Ukrainian</button>
      <button type="button" class="btn float-left" (click)="changeLang('uz','Uzbek')">Uzbek</button>
      <button type="button" class="btn float-left" (click)="changeLang('vi','Vietnamese')">Vietnamese</button>
      <button type="button" class="btn float-left" (click)="changeLang('cy','Welsh')">Welsh</button>
      <button type="button" class="btn float-left" (click)="changeLang('xh','Xhosa')">Xhosa</button>
      <button type="button" class="btn float-left" (click)="changeLang('yi','Yiddish')">Yiddish</button>
      <button type="button" class="btn float-left" (click)="changeLang('yo','Yoruba')">Yoruba</button>
      <button type="button" class="btn float-left" (click)="changeLang('zu','Zulu')">Zulu</button>
    </div>
  </div>
  <!-- <div>
    <p align="right">Target Language: {{targetDisplay}}</p>
  </div> -->

</div>

<div class="btn-group">
  <button type="button" class="btn btn-warning float-left" (click)="translate()">Translate</button>
</div>

<!-- <div class="container bottomMarging">
  <div class="btn-group hidden-sm-down">
    <p>Common Languages: &nbsp;&nbsp;  </p>
      
        <button type="button" class="btn btn-primary" (click)="changeLang('en')">English</button>
        <button type="button" class="btn btn-info" (click)="changeLang('fa')">Farsi</button>
        <button type="button" class="btn btn-danger" (click)="changeLang('es')">Spanish</button>
     
  </div>
  <div class="btn-group float-right">
    <button type="button" class="btn btn-warning" (click)="translate()">Translate</button>
  </div>
</div>  -->
<br>
<br>


<div class="container-fluid" style="text-align:justify">
  <div class="card">
    <div class="card-header card-primary card-inverse bg-success">
      <i class="fa fa-fw fa-2x float-right"></i>Translation&nbsp;&nbsp;
    </div>
    <div class="container-fluid" style="text-align:justify">
        {{t2}}
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


