<div [@routerTransition] class="container-fluid">

    <div class="card card-info card-inverse mb-3 col-lg-12 center-block">
        <div class="card-header card-info">
            <i class="fa fa-fw fa-pencil-square-o fa-3x float-right" title="Test"></i>
            <h1>Test your Vocabulary!</h1>
            <hr>
            <p>See how well your vocabulary is! You can either select one category, or select the option 'All Categories' to be tested on every category!</p>
        </div>

    </div>


    <!--Category selection for quizes-->

    <br>

    <div class="wells">
        <h2>Test Catergories</h2>
    </div> 
        <hr>

        <div class="row">
            <div class="col col-md-4 col-sm-3">
                <div class="btn btn-primary btn-block btn-lg">Academic Words</div>
            </div>
            <div class="col col-md-4 col-sm-3">
                <div class="btn btn-primary btn-block btn-lg">STEM</div>
            </div>
            <div class="col col-md-4 col-sm-3">
                <div class="btn btn-primary btn-block btn-lg">High Frequency</div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col col-md-4 col-sm-3">
                <div class="btn btn-primary btn-block btn-lg">Medium Frequency</div>
            </div>
            <div class="col col-md-4 col-sm-3">
                <div class="btn btn-primary btn-block btn-lg">Low Frequency</div>
            </div>
            <div class="col col-md-4 col-sm-3">
                <div class="btn btn-primary btn-block btn-lg">All Categories</div>
            </div>
        </div>

</div>




