<div [@routerTransition] class="container-fluid">

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $(function () {
            $('.example-popover').popover({
                container: 'body'
            })
        })
    </script>


    <div class="col col-md-6 col-sm-12 center">
        <ul class="list-group">
            <li class="list-group-item active">My Profile Details</li>
            <li class="list-group-item">Name: {{fullName}}</li>
            <li class="list-group-item">User Name: {{username}}</li>
            <a href="#" class="list-group-item list-group-item-action">Change Password</a>
            <li class="list-group-item">User Type: {{level}}</li>
        </ul>
    </div>

    <hr />

    <div>
        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Coming Soon">My Saved Materials</button>
    </div>


</div>
